<div
  *ngIf="PollDataTopic?.pollData?.[0]?.options?.length"
  class="poll-options-wrapper"
>
  <div
    *ngFor="let option of PollDataTopic.pollData[0].options"
    (click)="
      onPollOptionClicked(
        $event,
        option.id,
        PollDataTopic.userData.id,
        PollDataTopic.id
      )
    "
    class="poll-option"
    [ngClass]="{
      'selected-option': hasUserVoted && option.id === votedOptionId,
      'voted-option': hasUserVoted
    }"
    [ngStyle]="{
      cursor: hasUserVoted ? 'default' : 'pointer',
    }"
  >
    <div class="option-vote-container">
      <div class="poll-option-text-wrapper">
        <div
          class="poll-checkbox"
          [ngClass]="{
            'selected-poll-checkbox':
              hasUserVoted && option.id === votedOptionId
          }"
        >
          <div *ngIf="hasUserVoted && option.id === votedOptionId">
            <i class="pi pi-circle-fill"></i>
          </div>
        </div>
        <div class="poll-option-text">
          {{ option.optionText }}
        </div>
      </div>
      <ng-container *ngIf="hasUserVoted">
        <div style="margin-top: 5px" class="vote-count">
          Votes: {{ option.voteCount }} ({{ votePercentages[option.id] }}%)
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="hasUserVoted">
      <!-- <div style="margin-top: 5px" class="vote-count">
        Votes: {{ option.voteCount }} ({{ votePercentages[option.id] }}%)
      </div> -->
      <div
        style="
          background: #e9ecef;
          height: 8px;
          border-radius: 4px;
          margin: 4px 0px;
        "
      >
        <div
          [style.width]="getPollPercentage(option)"
          class="vote-percentage-bar"
        ></div>
      </div>
    </ng-container>
  </div>
  <div class="total-vote-count-wrapper" *ngIf="totalVotes > 0">
    <span class="total-vote-count">Total Votes: {{ totalVotes }}</span>
  </div>
</div>
