.inner-wrapper {
  display: flex;
}

.forum-container {
  width: calc(100vw - 270px);
  max-width: calc(100vw - 270px);
  margin: 32px auto 0 auto;
  // background-color: var(--background-color);
  border-radius: 5px;
  // box-shadow: 2px 4px 14px rgba(100, 96, 96, 0.2);
  padding: 0px 5%;
  .digi-forum-wrapper {
    padding: 0px 20px;
    box-sizing: border-box;
  }
}

.digi-forum-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  p {
    color: var(--input-color);
    font-size: 31px;
    font-weight: 500;
    margin: 0;
  }

  .ask-btn {
    background-color: white;
    background: var(--primary-color);
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 24px 0px 24px 24px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 40%;
  max-width: 600px;
  z-index: 1001;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  .modal-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 24px;

    h2 {
      margin: 0;
      font-size: 20px;
      color: var(--primary-text-color);
      font-weight: 500;
    }
    .close-btn {
      background-color: #ffffff;
      color: var(--input-color);
      border: none;
      font-size: 25px;
      padding: 0;
      margin-top: -1px;
      cursor: pointer;
    }
  }

  .modal-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .modal-inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-height: calc(90vh - 160px);
    overflow: auto;
    padding-right: 24px;

    label {
      font-size: 14px;
      font-weight: 400;
      color: var(--input-color);
      margin-bottom: -8px;
      font-family: "Poppins", sans-serif;

      span {
        color: var(--error-color);
      }
    }

    input {
      width: 100%;
      padding: 12px;
      border: 1px none #ddd;
      border-radius: 8px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
      outline: none;
      color: var(--primary-text-color);
      background-color: var(--input-background-color);
    }

    textarea {
      width: 100%;
      height: 150px;
      padding: 10px;
      border: 1px none #ddd;
      border-radius: 8px;
      margin-bottom: -8px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
      outline: none;
      color: var(--primary-text-color);
      background-color: var(--input-background-color);
      resize: none;
    }
    // textarea::placeholder {
    //   font-family: "Inter", sans-serif;
    //   font-size: 14px;
    //   color: var(--grey-color);
    // }
  }

  .input-wrapper {
    .error-mgs {
      span {
        color: var(--error-color);
        font-size: 12px;
      }
    }
  }

  .poll-label-container {
    display: flex;
    justify-content: space-between;
    .multiselect-switch-container {
      display: flex;
      gap: 8px;
      .multiselect-switch {
        ::ng-deep {
          .p-toggleswitch {
            width: 30px;
            height: 16px;
            .p-toggleswitch-slider {
              .p-toggleswitch-handle {
                height: 12px;
                width: 12px;
                top: 12px;
              }
            }
          }
          .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-slider {
            background: var(--primary-color);
          }
          .p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle {
            inset-inline-start: 15px;
          }
        }
      }
    }
  }

  .options-container {
    padding: 14px 0px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .option-wrapper {
      display: flex;
      align-items: baseline;
      gap: 12px;
      i {
        color: var(--input-color);
        cursor: pointer;
      }
      .input-wrapper {
        width: 100%;
      }
    }
  }

  .add-option {
    .add-option-btn {
      background-color: transparent;
      border-radius: 8px;
      padding: 7px 8px;
      border: 1px solid #989898;
      cursor: pointer;
      margin-bottom: 6px;
      i {
        color: var(--input-color);
        font-size: 14px;
      }
    }
  }

  .post-type-wrapper {
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 2px;
    }
    .type-dropdown {
      border: 1px none #ddd;
      border-radius: 8px;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
      box-sizing: border-box;
      outline: none;
      color: var(--primary-text-color);
      background-color: var(--input-background-color);
      box-shadow: none;
      ::ng-deep {
        .p-select-label {
          padding: 12px !important;
          color: var(--primary-text-color);
          // color: #989898;
        }
        .p-select-label.p-placeholder {
          color: #989898;
        }
        .p-select-list-container {
          .p-select-option.p-select-option-selected {
            background-color: #f0eaff;
            color: #7357d8;
          }
        }
      }
    }
  }

  .modal-footer {
    width: 100%;
    padding-right: 24px;
  }

  .submit {
    background: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-right: 24px;

    &:disabled {
      background: rgb(214, 210, 210);
      font-size: 16px;
      cursor: not-allowed;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  pointer-events: none;
}

// height: calc(100svh - 114px);
// max-height: calc(100svh - 114px);
// overflow: auto;
// max-width: 80vw;
