.digi-forum-wrapper {
  .digi-forum-header {
    background: #fff;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 24px;
    margin-right: 20px;
    p {
      margin: 0;
      color: #9ea3a3;
      font-weight: 500;
    }
    .ask-btn {
      background-color: #543fdd;
      border: none;
      border-radius: 16px;
      color: white;
      padding: 9px 15px;
      border: none;
      border-radius: 10px;
      font-size: 15px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
    }
  }

  .topic-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

    // .main-topic-cont {
    //   display: flex;
    //   width: calc(100% - 270px);
    //   cursor: pointer;
    //   // justify-content: space-between;
    // }
    .topic-title {
      h2 {
        color: var(--primary-text-color);
        font-weight: 600;
        margin-top: 0;
      }
    }

    .author-detail {
      display: flex;
      align-items: center;
      gap: 12px;
      .image-container {
        width: 60px;
        height: 60px;
        border-radius: 12px;
        background-color: #f7f5ff;
        .profile-img {
          width: 60px;
          height: 60px;
          border-radius: 12px;
        }
      }
      .author {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .user-name {
          font-size: 14px;
          color: var(--primary-text-color);
          margin: 0;
        }
        .creation {
          color: #b2b3b9;
          margin: 0;
          font-size: 14px;
        }
      }
    }

    .like-comment-container {
      display: flex;
      gap: 12px;
      align-items: center;
      .like-comment {
        width: 40px;
        height: 40px;
        padding: 8px;
        background-color: #f9f9f9;
        border: 1px solid #f8f8f8;
        border-radius: 12px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    .topic-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 20px;
      padding: 12px 24px;
      background-color: var(--primary-color);
      box-sizing: border-box;
      // background-color: var(--grey-background);
      border-radius: 4px;

      h1 {
        color: #ffffff;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
      }
    }
    .topic-content {
      // padding-left: 21px;
      margin: 24px 0;
      // width: calc(100% - 108px);

      h2,
      .heading {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--input-color);
      }
      h3,
      .description {
        margin: 1px;
        font-size: 13px;
        font-weight: 400;
        color: var(--primary-text-color);
        // width: 725px;
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        max-width: 100%;
      }
      .heading,
      .description {
        display: block;
      }
    }

    .counts-data {
      display: flex;
      align-items: center;
      /* gap: 58px; */
      font-size: 20px;
      color: #ffffff;
      /* padding: 0px 40px; */
      // width: 270px;
      width: 204px;
      justify-content: space-around;
      p {
        margin: 0;
      }
    }
    .count-design {
      background: #1d4bbb1a;
      /* padding: 8px; */
      border-radius: 100%;
      height: 54px;
      width: 54px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      align-items: center;
      color: var(--primary-color);
      line-height: 17px;

      p {
        margin: 0;
        font-size: 9px;
        font-weight: 500;
      }

      h4 {
        font-size: 18px;
        margin: 0;
        font-weight: 500;
      }
    }
    .count-values {
      display: flex;
      // gap: 39px;
      width: 193px;
      // padding-left: 15px;
      // padding-right: 12px;
      font-size: 18px;
      align-items: center;
      color: var(--input-color);
      font-weight: 500;
      justify-content: space-around;
      margin-left: 77px;
      gap: 19px;
    }

    .topic-card-wrapper {
      max-height: calc(100vh - 200px);
      // height: 655px;
      overflow-y: auto;
      transition: opacity 0.3s ease-in-out;
      width: 100%;
      padding-right: 20px;
      .topics-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
      }
    }

    .topic-card-wrapper.loading {
      overflow: hidden;
    }

    .loading-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .topic-card {
      width: 100%;
      border: 1px solid #ddd;
      display: flex;
      padding: 44px 36px;
      border-radius: 16px;
      border: none;
      box-sizing: border-box;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      background-color: #fff;

      // img {
      //   height: 90px;
      //   width: 90px;
      //   border-radius: 100%;
      //   box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

      //   // padding: 20px;
      // }

      .user-data {
        display: flex;
        gap: 40px;
        margin-top: 10px;
        font-size: 13px;
        color: var(--primary-color);

        p {
          margin: 2px;
        }
      }
    }
  }
}
