<div class="sidebar-wrapper">
  <div class="sidebar-item-wrapper active-item">
    <div class="item-icon">
      <i class="fa fa-solid fa-house"></i>
    </div>
    <div class="item-label">Home</div>
  </div>
  <div class="sidebar-item-wrapper">
    <div class="item-icon">
      <i class="fa-solid fa-user"></i>
    </div>
    <div class="item-label">Your Posts</div>
  </div>
  <div class="sidebar-item-wrapper">
    <div class="item-icon">
      <i class="fa-solid fa-square-poll-horizontal"></i>
    </div>
    <div class="item-label">Polls</div>
  </div>
</div>
